.movie-list {
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.movie-list__header {
    display: flex;
    justify-content: space-between;
}

.movie-list__description {
    flex: 1;
}

.movie-list__filter-btns {
    flex: 1;
}

.movie-list__filter-btn {
    background-color: #00aa60;
    border: none;
    color: #ffffff;
    padding: 0 8px;
    width: 130px;
    font-size: 0.8em;
    height: 30px;
    border-radius: 4px;
    outline: none;
}

.movie-list__movies {
    list-style-type: none;
    font-weight: 300;
}

.movie-list__movie-title {
    font-weight: normal;
}

.movie-list__movie-wrapper {
    display: flex;
    margin-bottom: 10px;
    background-color: #2a3a44;
}

.movie-list__description-wrapper {
    padding: 0 20px;
    width: 100%;
    font-size: 0.8em;
}

.movie-list__movie-year {
    color: #79838a;
    position: relative;
    left: 10px;
}

.movie-list__img-wrapper {
    position: relative;
    height: 100%;
}

.movie-list__rating {
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(0, 170, 96, 0.7);
    padding: 5px;
    border-radius: 3px;
}

.movie-list__movie-sidebar {
    position: relative;
    width: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    margin: 0;
}


.movie-list__sidebar-btn {
    padding: 0 5px;
    color: #ffffff;
    background: #00aa60;
    margin-right: 10px;
    height: 30px;
    border: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}